@import "../variables"; //$bubblePink $darkBackground //957!32a3z1 //eb2ce8

.add {
  padding: 1rem;
  color: #ffffff;

  .menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin: 0 auto;
    padding: auto;
    max-width: 90vw;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 2rem;
      max-width: 80vw;
      overflow-y: scroll;
      max-height: fit-content;

    }
  }

  .image-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


    .menu-image {
      max-width: 110%;
      height: auto;
      border-radius: 8px;

    }

    .carousel-button {
      background: none;
      border: none;
      font-size: 4rem;
      color: #cfcfcf;
      cursor: pointer;
      margin: 2rem -2rem 0rem -2rem;
    }

    .carousel-button:hover {
      background-color: #00000000;
      transform: scale(1.2);
    }
  }



  .buttons-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-top: 2rem;
    overflow-y: hidden !important;

    .edit-button {
      position: relative;
      background: darkgray;
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      font-size: 12px;
    }

    .edit-button:hover {
      background: rgb(168, 185, 237);
    }

    .delete-button {
      position: relative;
      background: red !important;
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      font-size: 12px;
    }

    .delete-button:hover {
      background: darkred;
    }
  }


  .menu-item.add-new {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: #f0f0f0e9;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    .add-icon {
      font-size: 2.5rem;
      color: $bubblePink ;
    }

    p {
      margin-top: 10px;
      font-size: 1rem;
      color: #555;
    }
  }

  .menu-item {
    background-color: #0000005c;
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 200px;
    overflow: hidden;


    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .menu-image {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.5rem;
      margin: 0.5rem 0;
    }

    .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center; // Vertically aligns text if there's any height difference
    }

    .menu-title {
      color: #FFFFFF;
      font-size: 1.7rem; // Adjust size as needed
      font-weight: bold;
    }

    .order-index {
      font-size: 0.9rem;
      color: gray;
    }



    p {
      margin: 0.5rem 0;
    }

    .edit-fields {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      input,
      textarea {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
      }

      button {
        padding: 0.5rem;
        margin-top: 0.5rem;
        color: #ffffff;
        background-color: $bubblePink ;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #fc68fa;
        }
      }
    }

    button {
      padding: 0.5rem 1rem;
      color: #ffffff;
      background-color: $bubblePink ;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #fc68fa;
      }
    }

    .content-section {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h4 {
        color: $bubblePink ;
        margin: 0.5rem 0;
        font-size: 1rem;
      }

      .menu-item-list {
        list-style-type: none;
        padding-left: 0;
        margin: 0.5rem 0;
        color: #ffffff;

        li {
          margin-bottom: 0.3rem;
          font-size: 0.9rem;
          line-height: 1.4;
        }
      }
    }

    .buttons-container {
      margin-top: auto; // Push buttons to bottom
      padding-top: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .add {
    max-height: fit-content !important;
    max-width: 100vw;

    .menu-item {
      padding: 0.6rem;
      /* Slightly increase padding for better touch targets */
    }

    .menu-image {
      max-width: 100%;
      /* Ensure the image scales well on mobile */
      height: auto;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.5rem;
      /* Adjust text size for mobile */
      margin: 0.5rem 0;
    }

    p {
      margin: 0.5rem 0;
    }
  }
}

.backend {
  max-width: 100vw;
  margin: 0 auto;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-family: Arial, sans-serif;
  border: 0.2rem solid $bubblePink ;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;

  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    button {
      padding: 0.8rem 4.44rem;
      margin: 1rem;
      background-color: transparent;
      border: 0.1rem solid $bubblePink ;
      color: $bubblePink ;
      border-radius: 6px;
      cursor: pointer;
      font-size: 1rem;

      &.active {
        background-color: $bubblePink ;
        color: #000;
      }

      &:hover {
        background-color: $bubblePink ;
        color: #000;
      }
    }
  }

  .tab-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem 1rem;
    box-sizing: border-box;

    .member-item {
      display: flex;
      align-items: center;
      /* Align items horizontally */
      justify-content: space-between;
      /* Push the checkbox to the right */
      margin-bottom: 1rem;
      padding: 0.7rem;

      h3 {
        color: #fff;
        flex: 1;
        /* Take available space */
      }

      .approval-checkbox {
        display: flex;
        align-items: center;
        padding: 0rem 0rem 0rem 2rem;
      }

      .approval-checkbox:hover {
        opacity: 0.7;
      }
    }

    h2 {
      font-size: 2.4rem;
      color: $bubblePink ;
      margin-bottom: 3rem;
    }
  }

  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    padding: 20px 10px 10px 10px;
    /* Add more top padding for mobile */
    height: auto;

    /* Let content grow on small screens */
    .tabs {
      flex-direction: column;

      /* Stack the tabs vertically */
      button {
        padding: 0.8rem 2rem;
        /* Adjust padding for mobile */
        margin: 0.5rem 0;
        /* Smaller margin between buttons */
      }
    }

    .tab-content {
      padding: 0rem;
      /* Adjust padding for mobile */
    }

    h2 {
      font-size: 1.8rem;
      /* Smaller heading for mobile */
      margin-bottom: 1.5rem;
      /* Less space for smaller screens */
    }

    .member-item {
      flex-direction: row;
      /* Stack member items vertically */
      margin: 0;
    }


  }
}