.backend {
    max-width: 600px; // Limit the width for desktop view
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    border: 0.3rem solid #eb2ce8;


    h2 {
        font-size: 2rem;
        color: #eb2ce8;
        margin-bottom: 1.5rem;
    }

    .member-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        background-color: #ffffff05;
        border-radius: 6px;
        margin-bottom: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 0.3rem solid #eb2ce8;


        h3 {
            font-size: 1.1rem;
            color: #333;
            margin: 0;
            flex: 1;
            text-align: left;
        }

        input[type="checkbox"] {
            margin: 1rem;
        }

        label {
            font-size: 1rem;
            color: #666;
        }
    }

    // Responsive adjustments
    @media (max-width: 600px) {
        padding: 15px;
        margin: 1rem;

        h2 {
            font-size: 1.5rem;
        }

        .member-item {
            padding: 8px 10px;
            flex-direction: column;
            align-items: flex-start;

            h3 {
                font-size: 1rem;
                margin-bottom: 5px;
                text-align: left;
            }

            label {
                font-size: 0.9rem;
            }
        }
    }
}
