.backend {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-family: Arial, sans-serif;
  border: 0.2rem solid #eb2ce8;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;

  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    button {
      padding: 0.8rem 4.44rem;
      margin: 1rem;
      background-color: transparent;
      border: 0.1rem solid #eb2ce8;
      color: #eb2ce8;
      border-radius: 6px;
      cursor: pointer;
      font-size: 1rem;

      &.active {
        background-color: #eb2ce8;
        color: #000;
      }

      &:hover {
        background-color: #eb2ce8;
        color: #000;
      }
    }
  }

  .tab-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem 1rem;
    box-sizing: border-box;

    .member-item {
      display: flex;
      align-items: center; /* Align items horizontally */
      justify-content: space-between; /* Push the checkbox to the right */
      margin-bottom: 1rem;
      padding: 0.7rem;

      h3 {
        color: #fff;
        flex: 1; /* Take available space */
      }

      .approval-checkbox {
        display: flex;
        align-items: center;
        padding: 0rem 0rem 0rem 2rem;
      }

      .approval-checkbox:hover {
        opacity: 0.7;
      }
    }

    h2 {
      font-size: 2.4rem;
      color: #eb2ce8;
      margin-bottom: 3rem;
    }
  }

  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    padding: 20px 10px 10px 10px; /* Add more top padding for mobile */
    height: auto; /* Let content grow on small screens */
    .tabs {
      flex-direction: column; /* Stack the tabs vertically */
      button {
        padding: 0.8rem 2rem; /* Adjust padding for mobile */
        margin: 0.5rem 0; /* Smaller margin between buttons */
      }
    }

    .tab-content {
      padding: 1rem; /* Adjust padding for mobile */
    }

    h2 {
      font-size: 1.8rem; /* Smaller heading for mobile */
      margin-bottom: 1.5rem; /* Less space for smaller screens */
    }

    .member-item {
      flex-direction: column; /* Stack member items vertically */
      padding: 1rem; /* Adjust padding for mobile */
      align-items: flex-start; /* Align items to the left */
    }

    .approval-checkbox {
      padding-left: 1rem; /* Adjust the padding on mobile */
    }
  }
}
