html {  background-color: #000000;
}

.menu {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 20px;
    background: #000000;
    position: relative;
    overflow-y: hidden;

    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 30vh;
        background: repeating-linear-gradient(
            43deg,
            #1a1a1a,
            #1a1a1a 10px,
            #b524c039 10px,
            #222222 20px
        );
        opacity: 0.2;
        animation: sandAnimation 30s linear infinite;
    }

    @keyframes sandAnimation {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 100vh 100vw;
        }
    }
  
    .logo {
      max-width: 200px;
      margin-bottom: 20px;
    }

    .menu-title-container {
        margin: 0.2rem 0.2rem 3rem 0rem;
        border-radius: 0.5rem;
        border: 0.3rem solid #eb2ce8;
        background: radial-gradient(circle, #6312eeb0, #eb2ce8);
        display: flex;
        align-items: left;
        justify-content: center;
    }

    .menu-title {

        font-size: 3rem;
        margin: 0.8rem 0rem 0rem 1.7rem;
        color: #eb2ce8;
        font-weight: 900;
    }
  
    .menu-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
    }

    .carousel-container {
      position: relative;
      display: inline-block;
  }
  
  .carousel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.0);
      color: white;
      border: none;

      cursor: pointer;
      z-index: 1;
  }
  
  .left {
      left: -2rem;
      font-size: 3rem;
  }
  
  .right {
      right: -2rem;
      font-size: 3rem;
  }
  
  .menu-item-image {
      width: 100%;
      height: auto;
  }
  
  
    .menu-item {
      background-color: #f9f9f91a;
      padding: 15px;
      border-radius: 8px;
      border: 0.1rem solid #eb2ce8;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: left;
  
      .menu-item-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
  
      .menu-item-title {
        font-size: 1.2rem;
        color: #eb2ce8;
        margin: 10px 0;
        white-space: normal;
        word-wrap: break-word; 
        word-break: break-word; 
    }
    
  
      .menu-item-description {
        font-size: 0.9rem;
        color: #ffffff;
        margin-bottom: 10px;
      }
  
      .menu-item-price {
        font-size: 1rem;
        font-weight: bold;
        color: #a4a4a4ac;
      }
    }

    .approval-message {
      position: block;
      z-index: 0;
      background: radial-gradient(circle, #6312eeb0, #eb2ce8);
      border-radius: 8px;
      border: 0.1rem solid #eb2ce8;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
      height: 23vh;
      text-align: center;
      padding: 0;
  
      .approval-logo {

          max-width: 10rem;
          margin-bottom: 1.5rem;
      }

    }
    .member-text {
      height: 77vh;
      
      h2 {
        margin: 2rem;
        background-color: #000000;
        border-radius: 8px;
        border: 0.1rem solid #eb2ce8;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 2rem;
        padding: 2rem;
        margin: 2rem;
        color: #ffffff;
      }
  
      p {
        font-size: 1rem;
        color: #ffffff7f;
      }
  }
}

